<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, intial-scale=1"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg border-bottom border-bottom-dark" style="background-color: #F1EEE6;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/AppLogo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-middle">
                    Tasks & Deliverables Tracker
                  </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sign in options
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" id="signup" href="/signup">Sign Up</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" id="login"  href="/login">Log in</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" id="logout"  href="/logout">Log out</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          {% with messages = get_flashed_messages(with_categories=true) %}
          
          {% if messages %} 
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>    
            {% endif %} {% endfor %} {% endif %} {% endwith %}

            
            <div class="p-3 mb-2 bg-light text-dark">
            {% block content %}
            {% endblock %}
          </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>

</html>