{% extends "base.html" %} {% block title %} Deliverables Tracker {% endblock %}

{% block content %}

<div class="image-with-heading" style="text-align: center;">
    <img src="/static/AppLogo.png" width="100" height="100" alt="Image">
    <h2>Start using your tracker now!</h2>
  </div>
<br/>
<div align="center">
<button type="button" class="btn btn-success" onclick="window.location.href='/signup'">Sign Up</button>
  &nbsp;&nbsp;
  <button type="button" class="btn btn-success" onclick="window.location.href='/login'">Log in</button>
</div>


{% endblock %}
